# CCA CTRL
.cookie

# VI
*.bak
*.swp

# Terraform
.terraform
*lock.hcl
plan.tfplan

# Terraform environment temporary files
network_zone_to_subnet_id.csv

# VS Code
.vs
.vscode
.DS_Store
*.log
*.mdproj
*.sln

# Misc ignored files
._*
