# This file will be replaced by a new one when
# the setup_wizard playbook is run. It will be filled
# in with splunk.secret, hashes and ansible vaults
# that is unique for your environment
# Before you start, fill in the required params in
# the env_specific file

# Version parameter is used to validate this file
# against cca_for_splunk framework requirements.
cca_infrastructure_secrets_template_file_version: '2022.2.1'

cca_splunk_secret_sha256:
cca_splunk_secret:
cca_splunk_admin_user:
cca_splunk_admin_password_hash:
cca_splunk_admin_password:
cca_splunk_server_general_pass4SymmKey_hash:
cca_splunk_server_general_pass4SymmKey:
cca_splunk_certs_server_sslpassword_hash:
cca_splunk_certs_server_sslpassword:
cca_splunk_certs_server_default_sslpassword_hash:
cca_splunk_certs_server_default_sslpassword:
cca_splunk_certs_inputs_sslpassword_hash:
cca_splunk_certs_inputs_sslpassword:
cca_splunk_certs_outputs_sslpassword_hash:
cca_splunk_certs_outputs_sslpassword:
cca_splunk_certs_web_sslpassword_hash:
cca_splunk_certs_web_sslpassword:
cca_splunk_cluster_c1_pass4SymmKey_hash:
cca_splunk_cluster_c1_pass4SymmKey:
cca_splunk_cluster_c2_pass4SymmKey_hash:
cca_splunk_cluster_c2_pass4SymmKey:
cca_splunk_cluster_c3_pass4SymmKey_hash:
cca_splunk_cluster_c3_pass4SymmKey:
cca_splunk_cluster_c4_pass4SymmKey_hash:
cca_splunk_cluster_c4_pass4SymmKey:
cca_splunk_cluster_c5_pass4SymmKey_hash:
cca_splunk_cluster_c5_pass4SymmKey:
cca_splunk_cluster_c6_pass4SymmKey_hash:
cca_splunk_cluster_c6_pass4SymmKey:
cca_splunk_cluster_c7_pass4SymmKey_hash:
cca_splunk_cluster_c7_pass4SymmKey:
cca_splunk_cluster_c8_pass4SymmKey_hash:
cca_splunk_cluster_c8_pass4SymmKey:
cca_splunk_cluster_c9_pass4SymmKey_hash:
cca_splunk_cluster_c9_pass4SymmKey:
cca_splunk_shcluster_c1_pass4SymmKey_hash:
cca_splunk_shcluster_c1_pass4SymmKey:
cca_splunk_shcluster_c2_pass4SymmKey_hash:
cca_splunk_shcluster_c2_pass4SymmKey:
cca_splunk_shcluster_c3_pass4SymmKey_hash:
cca_splunk_shcluster_c3_pass4SymmKey:
cca_splunk_shcluster_c4_pass4SymmKey_hash:
cca_splunk_shcluster_c4_pass4SymmKey:
cca_splunk_shcluster_c5_pass4SymmKey_hash:
cca_splunk_shcluster_c5_pass4SymmKey:
cca_splunk_shcluster_c6_pass4SymmKey_hash:
cca_splunk_shcluster_c6_pass4SymmKey:
cca_splunk_shcluster_c7_pass4SymmKey_hash:
cca_splunk_shcluster_c7_pass4SymmKey:
cca_splunk_shcluster_c8_pass4SymmKey_hash:
cca_splunk_shcluster_c8_pass4SymmKey:
cca_splunk_shcluster_c9_pass4SymmKey_hash:
cca_splunk_shcluster_c9_pass4SymmKey:
