---
# tasks file for cca.splunk.onboarding
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2024.1.2

# tasks file for cca.splunk.onboarding

- name: Set variable for selected_apps source path
  ansible.builtin.set_fact:
    selected_apps_source_path: '{{ absolute_file_store_path }}/etc/{{ selected_apps_sourcedir }}'

- name: Set variable for versioned_apps source path
  ansible.builtin.set_fact:
    versioned_apps_source_path: '{{ absolute_file_store_path }}/etc/{{ versioned_apps_sourcedir }}'

- name: Include task for shcluster app staging
  ansible.builtin.include_tasks: stage_shcluster_apps.yml
  when:
    - shcluster_label is defined
    - deploy_scope | default('') == "shcluster_apps"

- name: Include task for shcluster app deployment
  ansible.builtin.include_tasks: deploy_shcluster_apps.yml
  when:
    - shcluster_label is defined
    - deploy_scope | default('') == "shcluster_apps"

- name: Include task for master apps staging
  ansible.builtin.include_tasks: stage_manager_apps.yml
  when:
    - cluster_label is defined
    - deploy_scope | default('') == "manager-apps"

- name: Include task for master apps deployment
  ansible.builtin.include_tasks: deploy_manager_apps.yml
  when:
    - cluster_label is defined
    - deploy_scope | default('') == "manager-apps"

- name: Include task for apps deployment to splunk instance
  ansible.builtin.include_tasks: deploy_apps.yml
  when:
    - deploy_scope | default('') == "apps"

- name: Include task for deployment apps staging
  ansible.builtin.include_tasks: stage_deployment_apps.yml
  when:
    - deploy_scope | default('') == "deployment-apps"

- name: Include task for serverclass apps deployment to splunk deployment servers
  ansible.builtin.include_tasks: deploy_deployment_apps.yml
  when:
    - deploy_scope | default('') == "deployment-apps"

- name: Cleanup onboarding staging directory
  delegate_to: localhost
  connection: local
  become: false
  ansible.builtin.file:
    path: "/tmp/{{ cca_runid }}"
    state: absent
  changed_when: false
