---
# tasks file for cca.splunk.onboarding
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2025.3.3

- name: Set staging directory
  ansible.builtin.set_fact:
    shcluster_staging_dir: >-
      '{{ (cca_local_tmp_dir | default("/tmp/cca_tmp")) }}/{{ cca_runid }}/{{ environment_name }}/{{ inventory_hostname }}/{{ shcluster_label }}'
    selected_apps_source_dir: >-
      {{
        selected_apps_absolute_sourcedir
        | default(absolute_file_store_path + '/etc/' + selected_apps_sourcedir)
      }}
    selected_shcluster_apps_source_dir: >-
      {{
        selected_shcluster_apps_absolute_sourcedir
        | default(absolute_file_store_path + '/etc/' + selected_shcluster_apps_sourcedir)
      }}
    shcluster_apps_absolute_source_dir: >-
      {{
        shcluster_apps_absolute_sourcedir
        | default(absolute_file_store_path + '/etc/' + shcluster_apps_sourcedir)
      }}

- name: Cleanup manager before staging apps
  become: false
  connection: local
  ansible.builtin.file:
    path: '{{ shcluster_staging_dir }}'
    state: absent
  delegate_to: localhost
  when:
    - shcluster_label is defined
  changed_when: false
  check_mode: false

- name: Ensure directory exists for staging apps
  become: false
  delegate_to: localhost
  connection: local
  ansible.builtin.file:
    path: '{{ shcluster_staging_dir }}/apps/'
    state: directory
    mode: '0700'
  changed_when: false
  check_mode: false

- name: Stage manager with shcluster apps from shcluster directory
  become: false
  connection: local
  ansible.builtin.command: >
    rsync --temp-dir="{{ cca_local_tmp_dir | default('/tmp/cca_tmp') }}" --delay-updates -F --compress --archive
    "{{ shcluster_apps_absolute_source_dir }}/"
    "{{ shcluster_staging_dir }}/apps/"
  delegate_to: localhost
  when:
    - shcluster_label is defined
  changed_when: false
  check_mode: false
  tags:
    - skip_ansible_lint

- name: Stage manager with shcluster selected apps
  become: false
  connection: local
  ansible.builtin.command: >-
    rsync --temp-dir="{{ cca_local_tmp_dir | default('/tmp/cca_tmp') }}" --delay-updates -F --compress --archive
    "{{ selected_apps_source_dir | default(absolute_file_store_path + '/etc/' + selected_shcluster_apps_sourcedir) }}/{{ item.source_app }}/"
    "{{ shcluster_staging_dir }}/apps/{{ item.name }}/"
  delegate_to: localhost
  when:
    - selected_shcluster_apps_sourcedir is defined
    - item.state is defined
    - item.state != 'absent'
    - item.target is defined and item.target == inventory_hostname or
      item.target is not defined
  loop: '{{ selected_shcluster_apps | default([]) if selected_shcluster_apps | default([]) is iterable else [] }}'
  changed_when: false
  check_mode: false
  tags:
    - skip_ansible_lint

- name: Stage manager with versioned apps destined for search head cluster
  become: false
  connection: local
  ansible.builtin.command: >-
    rsync --temp-dir="{{ cca_local_tmp_dir | default('/tmp/cca_tmp') }}" --delay-updates -F --compress --archive
    "{{ (item.source_path | default(versioned_apps_source_path)) ~ ('/' ~ item.source_app if item.source_app is defined else '') }}/"
    "{{ shcluster_staging_dir }}/apps/{{ item.name }}/"
  delegate_to: localhost
  when:
    - versioned_apps_sourcedir is defined
    - item.dest_dir is defined
    - item.dest_dir == 'shcluster/apps'
    - item.state is defined
    - item.state != 'absent'
    - item.target is defined and item.target == inventory_hostname or
      item.target is not defined
  loop: '{{ versioned_apps | default([]) if versioned_apps | default([]) is iterable else [] }}'
  changed_when: false
  check_mode: false
  tags:
    - skip_ansible_lint

- name: Stage manager with selected apps destined for search head cluster
  become: false
  connection: local
  ansible.builtin.command: >-
    rsync --temp-dir="{{ cca_local_tmp_dir | default('/tmp/cca_tmp') }}" --delay-updates -F --compress --archive
    "{{ (item.source_path | default(selected_apps_source_dir)) ~ ('/' ~ item.source_app if item.source_app is defined else '') }}/"
    "{{ shcluster_staging_dir }}/apps/{{ item.name }}/"
  delegate_to: localhost
  when:
    - selected_apps_source_path is defined
    - item.dest_dir is defined
    - item.dest_dir == 'shcluster/apps'
    - item.state is defined
    - item.state != 'absent'
    - item.target is defined and item.target == inventory_hostname or
      item.target is not defined
  loop: '{{ selected_apps | default([]) if selected_apps | default([]) is iterable else [] }}'
  changed_when: false
  check_mode: false
  tags:
    - skip_ansible_lint

- name: Include and run tasks from custom onboarding roles
  ansible.builtin.include_role:
    name: '{{ external_onboarding_role }}'
  loop_control:
    loop_var: external_onboarding_role
  loop: '{{ external_onboarding_shcluster_roles | default([]) if external_onboarding_shcluster_roles | default([]) is iterable else [] }}'
