---
# tasks file for cca.core.linux
#
# Description:
#
# Prerequisite:
#
# Author: Robin Blomdahl
#
# Release: 2024.3.1

- name: Gather the package facts
  ansible.builtin.package_facts:
    manager: apt

- name: Block for old config syntax
  when: ansible_facts.packages['policykit-1'][0].version is version('0.106', '<')
  block:
    - name: Information lower than 0.105
      ansible.builtin.debug:
        msg: "Version lower than 0.106, implementing old syntax for config"

    - name: Configure polkit rule in /etc/polkit.1/rules.d
      ansible.builtin.template:
        src: "etc/polkit-1/rules.d/10-Splunkd.pkla_legacy.j2"
        dest: /etc/polkit-1/localauthority/50-local.d/10-Splunkd.pkla
        mode: '0644'
      register: polkit_template_status

- name: Block for new config syntax
  when: ansible_facts.packages['policykit-1'][0].version is version('0.106', '>')
  block:
    - name: Information greater than 0.105
      ansible.builtin.debug:
        msg: "Version greater than 0.106, implementing new syntax for config"

    - name: Configure polkit rule in /etc/polkit.1/rules.d
      ansible.builtin.template:
        src: "etc/polkit-1/rules.d/10-Splunkd.rules_{{ cca_splunk_polkit_template_version }}.j2"
        dest: /etc/polkit-1/rules.d/10-Splunkd.rules
        mode: '0644'
      register: polkit_template_status

- name: Restart polkit systemd service
  ansible.builtin.systemd:
    state: restarted
    daemon_reload: true
    name: polkit
  when: polkit_template_status.changed
  no_log: "{{ ((cca_verbosity | default(1)) < 3) | bool }}"
  tags:
    - skip_ansible_lint
