---
# tasks file for cca.core.splunk
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2025.1.1

- name: Include tasks to login to splunk cli
  ansible.builtin.include_tasks:
    splunk_login.yml

- name: Get running Splunk versions from Index Cluster
  ansible.builtin.shell:
    cmd: "timeout 60 {{ splunk_path }}/bin/splunk show cluster-status --verbose | grep \"Splunk Version=\" | awk -F= '{ print $2 }' | sort -u"
  register: cluster_peer_splunk_version
  changed_when: false
  check_mode: false

- name: Store splunk current_splunk_enterprise_version
  ansible.builtin.set_fact:
    current_splunk_enterprise_version: "{{ cluster_peer_splunk_version.stdout_lines[0] | trim }}"

- name: Create directory for splunk version file if it doesn't exist
  ansible.builtin.file:
    path: "{{ splunk_version_file | default(splunk_path ~ '/.cca/splunk_version') | dirname }}"
    owner: "{{ splunk_user }}"
    group: "{{ splunk_user_group_name }}"
    state: directory
    mode: '0755'

- name: Store Splunk version
  ansible.builtin.copy:
    content: "{{ current_splunk_enterprise_version }}"
    dest: "{{ splunk_version_file | default(splunk_path ~ '/.cca/splunk_version') }}"
    owner: "{{ splunk_user }}"
    group: "{{ splunk_user_group_name }}"
    mode: '0644'

- name: Collect full Index Cluster status
  ansible.builtin.command:
    cmd: "timeout 60 {{ splunk_path }}/bin/splunk show cluster-status --verbose"
  register: verbose_cluster_status
  changed_when: false
  check_mode: false

- name: Set fact for preflight status
  ansible.builtin.set_fact:
    cluster_preflight_status_flag: true
  when:
    - verbose_cluster_status.stdout | regex_search(('Pre-flight.*YES'))

- name: Set fact for searchable rolling restart
  ansible.builtin.set_fact:
    searchable_rolling_restart_flag: true
  when:
    - verbose_cluster_status.stdout | regex_search(('Ready for searchable rolling restart*.YES'))

- name: Set fact for rolling upgrade status
  ansible.builtin.set_fact:
    index_cluster_rolling_upgrade_started: true
  when:
    - verbose_cluster_status.stdout | regex_search('(Searchable rolling upgrade is in progress)')

- name: Include task to get certificate status
  ansible.builtin.include_tasks:
    get_certificate_status.yml
  when:
    - inventory_hostname not in (groups.cluster_peers | default([]))
