---
# tasks file for cca.splunk.enterprise-install
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2022.2.1

- name: Initialize rolling upgrade on a SHC member
  ansible.builtin.command:
    cmd: "{{ splunk_path }}/bin/splunk upgrade-init shcluster-members"
  run_once: true
  when:
    - enterprise_upgrade | default(false)
