# This file will be replaced by a new one when
# the provisioning playbook is run. It will be filled
# in with splunk.secret, hashes and ansible vaults
# that is unique for your environment
# Before you start, fill in the required params in
# the env_specific file
#
# Version parameter is used to validate this file
# against cca_for_splunk framework requirements.
cca_onboarding_cca_splunk_secrets_template_file_version: '2022.2.1'

cca_splunk_admin_user:
cca_splunk_admin_password:
