---
# tasks file for cca.core.linux
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2025.3.2

- name: Check release update for specific Amazon ansible_distributions
  ansible.builtin.shell:
    cmd: set -o pipefail && dnf check-release-update 2>&1 | grep "dnf upgrade --releasever" | tail -1 | cut -d"=" -f2
  args:
    executable: /bin/bash
  register: dnf_relesasever_status
  when:
    - ansible_distribution == "Amazon"
    - ansible_distribution_major_version == "2023"
    - ansible_architecture == "x86_64"
  check_mode: false
  changed_when: false
  tags:
    - skip_ansible_lint

- name: Set fact for Amazon releasever
  ansible.builtin.set_fact:
    cca_dnf_releasever: >-
      {{
        dnf_relesasever_status.stdout | default('UpToDate')
        if (dnf_releasever | default('latest')) == 'latest'
        else (dnf_releasever | default(None))
      }}
  when:
    - ansible_distribution == "Amazon"
    - ansible_distribution_major_version == "2023"
    - ansible_architecture == "x86_64"

- name: "DRY RUN: Get dnf update status with releasever"
  ansible.builtin.dnf:
    name: "{{ cca_control.package.updates.include_packages }}"
    state: latest
    exclude: "{{ cca_control.package.updates.exclude_packages }}"
    releasever: "{{ cca_dnf_releasever }}"
  register: dnf_update_status_releasever
  when:
    - cca_dnf_releasever is defined
    - not use_shell_fallback | default(false)
  check_mode: true
  tags:
    - skip_ansible_lint

- name: "DRY RUN: Get dnf update status with releasever (using shell fallback)"
  vars:
    include_str: "{{ (cca_control.package.updates.include_packages | default([])) | map('quote') | join(' ') }}"
    exclude_str: "{{ (cca_control.package.updates.exclude_packages | default([])) | join(',') }}"
  ansible.builtin.shell: |
    dnf update --assumeno --releasever="{{ cca_dnf_releasever }}" {{ include_str }} --exclude="{{ exclude_str }}"
  register: dnf_update_status_releasever_shell
  when:
    - cca_dnf_releasever is defined
    - use_shell_fallback | default(false)
  failed_when: >
    not (
      dnf_update_status_releasever_shell.rc == 0 or
      (dnf_update_status_releasever_shell.rc == 1 and 'Operation aborted.' in (dnf_update_status_releasever_shell.stderr | default('')))
    )
  check_mode: false
  changed_when: false
  no_log: "{{ ((cca_verbosity | default(1)) < 3) | bool }}"

- name: "DRY RUN: Get dnf update status"
  ansible.builtin.dnf:
    name: "{{ cca_control.package.updates.include_packages }}"
    state: latest
    exclude: "{{ cca_control.package.updates.exclude_packages }}"
  register: dnf_update_status
  when:
    - cca_dnf_releasever is not defined
    - not use_shell_fallback | default(false)
  check_mode: true
  tags:
    - skip_ansible_lint

- name: "DRY RUN: Get dnf update status (using shell fallback)"
  vars:
    include_str: "{{ (cca_control.package.updates.include_packages | default([])) | map('quote') | join(' ') }}"
    exclude_str: "{{ (cca_control.package.updates.exclude_packages | default([])) | join(',') }}"
  ansible.builtin.shell: |
    dnf update --assumeno {{ include_str }} --exclude="{{ exclude_str }}"
  register: dnf_update_status_shell
  when:
    - cca_dnf_releasever is not defined
    - use_shell_fallback | default(false)
  failed_when: >
    not (
      dnf_update_status_shell.rc == 0 or
      (dnf_update_status_shell.rc == 1 and 'Operation aborted.' in (dnf_update_status_shell.stderr | default('')))
    )
  check_mode: false
  changed_when: false
  no_log: "{{ ((cca_verbosity | default(1)) < 3) | bool }}"

- name: Set fact if kernel update is detected (dnf module)
  ansible.builtin.set_fact:
    kernel_update_needed: true
  when: >-
    not use_shell_fallback | default(false) and
    (
      (
        dnf_update_status_releasever is defined and
        not dnf_update_status_releasever.skipped | default(false) and
        (
          (dnf_update_status_releasever.results | default([]) | join(' ') | regex_search('[Kk]ernel')) or
          (dnf_update_status_releasever.msg | default('') == 'Nothing to do' and false)
        )
      )
      or
      (
        dnf_update_status is defined and
        not dnf_update_status.skipped | default(false) and
        (dnf_update_status.results | default([]) | join(' ') | regex_search('[Kk]ernel'))
      )
    )
  check_mode: false

- name: Set fact if kernel update is detected (shell fallback)
  ansible.builtin.set_fact:
    kernel_update_needed: true
  when: >-
    use_shell_fallback | default(false) and
    (
      (
        dnf_update_status_releasever_shell is defined and
        not dnf_update_status_releasever_shell.skipped | default(false) and
        dnf_update_status_releasever_shell.stdout is defined and
        (dnf_update_status_releasever_shell.stdout | regex_search('[Kk]ernel'))
      )
      or
      (
        dnf_update_status_shell is defined and
        not dnf_update_status_shell.skipped | default(false) and
        dnf_update_status_shell.stdout is defined and
        (dnf_update_status_shell.stdout | regex_search('[Kk]ernel'))
      )
    )
  check_mode: false

- name: Get pending actions
  ansible.builtin.include_role:
    name: cca.core.linux
    tasks_from: check_pending_actions.yml

- name: End play for this host due to this reason (dnf module)
  ansible.builtin.debug:
    msg: "{{ dnf_update_status.msg | default('') }}{{ dnf_update_status_releasever.msg | default('') }}"
  when:
    - not use_shell_fallback | default(false)
    - (
        ( dnf_update_status.results is defined and dnf_update_status.msg == 'Nothing to do' )
        or
        ( dnf_update_status_releasever.results is defined and dnf_update_status_releasever.msg == 'Nothing to do' )
      )
      and
      not stat_server_reboot_pending.stat.exists | default(false)
      and
      not config_update | default(false)

- name: End play for this host due to this reason (shell fallback)
  ansible.builtin.debug:
    msg: "{{ (dnf_update_status.stdout | default('')) ~ (dnf_update_status_releasever.stdout | default('')) }}"
  when:
    - use_shell_fallback | default(false)
    - >
      (
        dnf_update_status.stdout is defined and
        (
          (dnf_update_status.stdout | regex_search('Nothing to do')) or
          (dnf_update_status.stdout | regex_search('No packages marked for upgrade'))
        )
      )
      or
      (
        dnf_update_status_releasever.stdout is defined and
        (
          (dnf_update_status_releasever.stdout | regex_search('Nothing to do')) or
          (dnf_update_status_releasever.stdout | regex_search('No packages marked for upgrade'))
        )
      )
    - not stat_server_reboot_pending.stat.exists | default(false)
    - not config_update | default(false)

- name: End play for host if nothing needs to be done (dnf module)
  ansible.builtin.meta: end_host
  when:
    - not use_shell_fallback | default(false)
    - (
        ( dnf_update_status.results is defined and dnf_update_status.msg == 'Nothing to do' )
        or
        ( dnf_update_status_releasever.results is defined and dnf_update_status_releasever.msg == 'Nothing to do' )
      )
      and
      not stat_server_reboot_pending.stat.exists | default(false)
      and
      not config_update | default(false)
  check_mode: false

- name: End play for host if nothing needs to be done (shell fallback)
  ansible.builtin.meta: end_host
  when:
    - use_shell_fallback | default(false)
    - >
      (
        dnf_update_status.stdout is defined and
        (
          (dnf_update_status.stdout | regex_search('Nothing to do')) or
          (dnf_update_status.stdout | regex_search('No packages marked for upgrade'))
        )
      )
      or
      (
        dnf_update_status_releasever.stdout is defined and
        (
          (dnf_update_status_releasever.stdout | regex_search('Nothing to do')) or
          (dnf_update_status_releasever.stdout | regex_search('No packages marked for upgrade'))
        )
      )
    - not stat_server_reboot_pending.stat.exists | default(false)
    - not config_update | default(false)
  check_mode: false
