---
# tasks file for cca.core.linux
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2025.1.1


- name: Configure splunk service in /etc/systemd/system/{{ systemd_enterprise_name }}
  ansible.builtin.template:
    src: "etc/systemd/system/{{ systemd_enterprise_name }}_{{ running_kernel_cgroup_version }}.j2"
    dest: "/etc/systemd/system/{{ systemd_enterprise_name }}"
    mode: '0644'
  notify: notify restart splunkd service

- name: Ensure the destination directory exists
  ansible.builtin.file:
    path: "/etc/systemd/system/{{ systemd_enterprise_name }}.d"
    state: directory
    mode: '0755'

- name: Configure splunk service limits in /etc/systemd/system/{{ systemd_enterprise_name }}.d/limits.conf
  ansible.builtin.template:
    src: "etc/systemd/system/{{ systemd_enterprise_name }}.d/limits.conf_{{ running_kernel_cgroup_version }}.j2"
    dest: "/etc/systemd/system/{{ systemd_enterprise_name }}.d/limits.conf"
    mode: '0644'
  notify: notify restart splunkd service

- name: Configure systemd for the new Splunkd service
  ansible.builtin.systemd:
    name: "{{ systemd_enterprise_name }}"
    enabled: true
    daemon_reload: true
  no_log: "{{ ansible_verbosity < 3 }}"
  when:
    - not server_reboot_status.rebooted | default(false)
