---
# tasks file for cca.core.splunk
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2022.2.1
# TODO: BUG - Add check to validate if there is a working captain among the SHC peers.
# Possible skip bundle push if an brutal upgrade is performed. 

- name: Check if there is a pending bundle push
  ansible.builtin.stat:
    path: "{{ shcluster_bundle_push_pending }}"
  register: stat_shcluster_bundle_push_pending

#
# Apply bundle on Search Head Cluster C1
#
- name: Apply shcluster cluster-bundle on shcluster c1
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c1'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c1
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C2
#
- name: Apply shcluster cluster-bundle on shcluster c2
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c2'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c2
    - stat_shcluster_bundle_push_pending.stat.exists
#
# Apply bundle on Search Head Cluster C3
#
- name: Apply shcluster cluster-bundle on shcluster c3
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c3'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c3
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C4
#
- name: Apply shcluster cluster-bundle on shcluster c4
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c4'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c4
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C5
#
- name: Apply shcluster cluster-bundle on shcluster c5
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c5'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c5
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C6
#
- name: Apply shcluster cluster-bundle on shcluster c6
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c6'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c6
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C6
#
- name: Apply shcluster cluster-bundle on shcluster c6
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c6'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c6
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C7
#
- name: Apply shcluster cluster-bundle on shcluster c7
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c7'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c7
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C8
#
- name: Apply shcluster cluster-bundle on shcluster c8
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c8'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c8
    - stat_shcluster_bundle_push_pending.stat.exists

#
# Apply bundle on Search Head Cluster C9
#
- name: Apply shcluster cluster-bundle on shcluster c9
  block:
    - name: Include tasks to login to splunk cli
      ansible.builtin.include_tasks:
        splunk_login.yml

    - name: Apply shcluster-bundle on deployer
      ansible.builtin.shell: "{{ splunk_path }}/bin/splunk apply shcluster-bundle -target https://{{ groups['searchhead_members_shcluster_c9'][0] }}:8089 --answer-yes {{ custom_opts_apply_shcluster_bundle | default('') }}"
      changed_when: false

    - name: Cleanup state file for bundle push
      ansible.builtin.file:
        path: "{{ shcluster_bundle_push_pending }}"
        state: absent
  when:
    - inventory_hostname in groups.searchhead_deployer_shcluster_c9
    - stat_shcluster_bundle_push_pending.stat.exists

