---
# tasks file for cca.core.splunk
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2025.3.1

- name: Upgrade precheck
  ansible.builtin.assert:
    that:
      - splunk_ok_status_flag | default(false)
    fail_msg: If at least one of the check flags are not as expected, the task will fail.
  when:
    - not skip_upgrade_check | default(false)
  check_mode: false

- name: Assert that the Splunk certificate passed strict X.509 validation
  ansible.builtin.assert:
    that:
      - splunk_cert_strict_x509_validation | bool
    fail_msg: >
      The Splunk certificate did not pass strict X.509 validation.
      Please verify that the certificate is signed by a trusted CA and matches the expected hostname and chain.
    success_msg: >
      Splunk certificate successfully passed strict X.509 validation.
  when:
    - cca_splunk_enterprise_upgrade | default(false)
    - (splunk_enterprise_version | string) is version('9.4.0', '>=') or
      strict_x509_cert_validation_test | default(false)
