---
# tasks file for cca.core.splunk
#
# Description:
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2022.2.1

- name: Wait for host connection
  wait_for_connection:
    timeout: "{{ cca_wait_for_connection_timeout | default('600') }}"
