---
# tasks file for cca.core.control
#
# Description: Cleanup temporary files in the local tmp directory.
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2025.3.2


- name: Clean up temporary files for current playbook run
  ansible.builtin.file:
    path: "{{ (cca_local_tmp_dir | default('/tmp/cca_tmp')) }}/{{ cca_runid }}"
    state: absent
  changed_when: false

- name: Set facts about the current user
  ansible.builtin.set_fact:
    current_user: "{{ lookup('env', 'USER') }}"

- name: Find orphan temporary files and directories owned by current user and delete them
  ansible.builtin.shell: |
    find {{ cca_local_tmp_dir | default('/tmp/cca_tmp') | quote }} \
         -maxdepth 1 -type d -user {{ current_user | quote }} \
         -mtime +4 \
         -exec rm -rf {} \; 2> /dev/null || true
  args:
    executable: /bin/bash
  register: cleanup_run
  changed_when: false
  tags:
    - skip_ansible_lint
