---
# tasks file for cca.core.control
#
# Description: Cleanup temporary files in the local tmp directory.
#
# Prerequisite:
#
# Author: Roger Lindquist (github.com/rlinq)
#
# Release: 2025.3.1


- name: Clean up temporary files
  ansible.builtin.file:
    path: "{{ (cca_local_tmp_dir | default('/tmp')) }}/{{ cca_runid }}"
    state: absent
  changed_when: false

- name: Set facts about the current user
  ansible.builtin.set_fact:
    current_user: "{{ lookup('env', 'USER') }}"

- name: Find and delete old temporary files owned by current user
  ansible.builtin.shell: |
    find {{ cca_local_tmp_dir | default('/tmp') | quote }} \
         -xdev -type f -user {{ current_user | quote }} \
         -mmin +{{ cca_cleanup_tmp_files_age | default('240') }} \
         -delete 2> /dev/null || true
  args:
    executable: /bin/bash
  register: cleanup_run
  changed_when: false
  tags:
    - skip_ansible_lint
