---
# tasks file for cca.core.control
#
# Description: Get current splunk version
#
# Prerequisite: Splunk is installed
#
# Author: META_AUTHOR
#
# Release: 2023.1.1

- name: Get current installed splunk version
  become: true
  become_user: "{{ splunk_user }}"
  become_method: sudo
  ansible.builtin.shell:
    cmd: "timeout 10 {{ splunk_path }}/bin/splunk version --accept-license --answer-yes --no-prompt | awk '{ print $2 }'"
  register: splunk_enterprise_version_result
  changed_when: false
  check_mode: false

- name: Set fact for Splunk enterprise version
  ansible.builtin.set_fact:
    current_splunk_enterprise_version: "{{ splunk_enterprise_version_result.stdout }}"
