# Playbook to configure linux servers
#
# REPO_TYPE=infrastructure
# MENU_DESC=Configure linux server to work with CCA and Splunk Enterprise
# EXTRA_VARS=hide_password(true) config_update(false) cca_accept_deprecated_os(false)

# Configure all servers
- name: Configure all splunk_servers
  hosts: splunk_servers:!localhost
  become: true
  become_method: sudo
  gather_facts: false
  strategy: linear
  pre_tasks:
    - name: Include tasks to wait for connection to host
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          wait_for_connection.yml

    - name: Include role for cca.core.linux
      ansible.builtin.include_role:
        name: cca.core.linux

- name: Reboot servers in availability group 1
  hosts: splunk_servers:&ag1:!localhost
  become: true
  become_method: sudo
  pre_tasks:
    - name: Include task for reboot handler
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from: server_reboot_handler.yml

- name: Reboot servers in availability group 2
  hosts: splunk_servers:&ag2:!localhost
  become: true
  become_method: sudo
  pre_tasks:
    - name: Include task for reboot handler
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from: server_reboot_handler.yml

- name: Reboot servers in availability group 3
  hosts: splunk_servers:&ag3:!localhost
  become: true
  become_method: sudo
  pre_tasks:
    - name: Include task for reboot handler
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from: server_reboot_handler.yml
