# Playbook to deploy manager-apps to Cluster Manager
#
# REPO_TYPE=onboarding
# MENU_DESC=Deploy manager-apps to Cluster Manager
# EXTRA_VARS=hide_password(true) accept_manager_app_removal(false) accept_bundle_validation_errors(false)

- name: Initialize playbook run on manager server - Deploy Manager Apps
  hosts: manager
  connection: local
  strategy: linear
  any_errors_fatal: true
  pre_tasks:
    - name: Include initialize role
      ansible.builtin.include_role:
        name: cca.core.control
        tasks_from:
          initialize.yml
      vars:
        target: "deploy_manager-apps"

# Deploy manager-apps to Splunk servers
- name: Deploy manager-apps to Splunk servers
  hosts: cluster_managers
  become: true
  become_method: ansible.builtin.sudo
  become_user: "{{ splunk_user }}"
  gather_facts: false
  any_errors_fatal: true
  vars:
    deploy_scope: "manager-apps"
  pre_tasks:
    - name: Setup
      ansible.builtin.setup:
        gather_subset: 'network'

    - name: Include pre deployment tasks
      ansible.builtin.include_role:
        name: cca.core.control
        tasks_from:
          pre_deployment_tasks.yml

    - name: Debug all vars
      ansible.builtin.debug:
        msg: '{{ hostvars[inventory_hostname] }}'
        verbosity: 3

  tasks:
    - name: Include onboarding role for apps to cluster manager
      ansible.builtin.include_role:
        name: cca.splunk.onboarding
      vars:
        deploy_scope: "apps"

    - name: Include onboarding role for manager-apps to cluster manager
      ansible.builtin.include_role:
        name: cca.splunk.onboarding
      vars:
        deploy_scope: "manager-apps"

  post_tasks:
    - name: Include apply cluster bundle role
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          apply_cluster_bundle.yml

    - name: Check if there is any pending actions
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          check_pending_actions.yml

    - name: Restart splunkd if needed
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          restart_splunkd.yml
      when:
        - stat_splunkd_restart_pending.stat.exists

    - name: Include post deployment tasks
      ansible.builtin.include_role:
        name: cca.core.control
        tasks_from:
          post_deployment_tasks.yml

# Finalize playbook run on manager server
- name: Finalize playbook run on manager server
  hosts: manager
  connection: local
  strategy: linear
  pre_tasks:
    - name: Include finalize role
      ansible.builtin.include_role:
        name: cca.core.control
        tasks_from:
          finalize.yml
      vars:
        target: "deploy_manager-apps"
