# Playbook to handle linux server OS patching and update
# Supports full package update or specific update using yum or dnf
# Server configuration can be updated with or without OS patching
#
# REPO_TYPE=infrastructure
# MENU_DESC=Rolling update on splunk servers
# EXTRA_VARS=hide_password(true) \
# cluster_peer_preflight(true) \
# dnf_releasever('latest') \
# config_update(false) \
# os_update(true) \
# force_reboot(false) \
# min_root_free_gb(5) \
# skip_splunk_status_check(false)
#
#    ___       _ _   _       _ _
#   |_ _|_ __ (_) |_(_) __ _| (_)___  ___
#    | || '_ \| | __| |/ _` | | / __|/ _ \
#    | || | | | | |_| | (_| | | \__ \  __/
#   |___|_| |_|_|\__|_|\__,_|_|_|___/\___|
#

- name: Initialize playbook run on manager server - OS Patching
  hosts: manager
  connection: local
  strategy: linear
  any_errors_fatal: true
  pre_tasks:
    - name: Initialize pre tasks
      ansible.builtin.include_role:
        name: cca.core.control
        tasks_from:
          initialize.yml
      vars:
        target: "server_update"


#    ____            ____ _               _
#   |  _ \ _ __ ___ / ___| |__   ___  ___| | _____
#   | |_) | '__/ _ \ |   | '_ \ / _ \/ __| |/ / __|
#   |  __/| | |  __/ |___| | | |  __/ (__|   <\__ \
#   |_|   |_|  \___|\____|_| |_|\___|\___|_|\_\___/
#
# Perform status check on SearchHead clusters and Index clusters to
# validate that running status is ok.

- name: Perform status check on SearchHead clusters and Index clusters
  hosts: splunk_servers
  become: true
  become_method: ansible.builtin.sudo
  become_user: "{{ splunk_user }}"
  gather_facts: false
  any_errors_fatal: true
  pre_tasks:
    - name: Include tasks to wait for connection to host
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          wait_for_connection.yml

    - name: Gather setup facts for network
      ansible.builtin.setup:
        gather_subset:
          - 'network'
          - 'hardware'

    - name: Run pre tasks
      ansible.builtin.include_role:
        name: cca.core.control
        tasks_from:
          pre_tasks.yml

    - name: Collect shcluster status
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          shcluster/get_shcluster_status.yml
      when:
        - inventory_hostname in ( groups.searchhead_members | default([]) )
        - not skip_splunk_status_check | default(false)

    - name: Collect cluster status
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          cluster/get_cluster_status.yml
      when:
        - inventory_hostname in ( groups.cluster_managers | default([]) )
        - not skip_splunk_status_check | default(false)

    - name: Collect splunk status
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          get_splunk_status.yml
      when:
        - not inventory_hostname in ( groups.cluster_peers | default([]) ) or
          not inventory_hostname in ( groups.searchhead_members | default([]) )
        - not skip_splunk_status_check | default(false)

    - name: Collect splunk version information
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          get_splunk_version.yml
      when:
        - not inventory_hostname in ( groups.searchhead_members | default([]) )
        - not skip_splunk_status_check | default(false)

    - name: Validate available disk space for os update
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from:
          validate_available_disk_space.yml

#    _   _           _       _
#   | | | |_ __   __| | __ _| |_ ___
#   | | | | '_ \ / _` |/ _` | __/ _ \
#   | |_| | |_) | (_| | (_| | ||  __/
#    \___/| .__/ \__,_|\__,_|\__\___|
#         |_|

# The precheck task will create the dynamic shcluster_captain group.
# Upgrade all servers except the shcluster captains.

- name: Upgrade all servers except the shcluster captains, serial 1 is required
  hosts: splunk_servers:!shcluster_captain
  strategy: linear
  serial: 1
  pre_tasks:
    - name: Include tasks to wait for connection to host
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          wait_for_connection.yml

    - name: Gather setup for network
      ansible.builtin.setup:
        gather_subset: 'network'

    - name: Get host facts
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from:
          get_facts.yml

    - name: Validate and get version specific variables
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from:
          validate_supported_os_versions.yml

    - name: Include role in a block to enable become
      become: true
      become_method: ansible.builtin.sudo
      block:
        - name: Set reboot flag
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from: set_reboot_flag.yml
          when:
            - force_reboot | default(false)

        - name: Check if an package update is needed
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from:
              "update/{{ package_manager }}/check_for_os_updates.yml"
          when:
            - os_update | default(true)

        - name: Execute linux configuration tasks
          ansible.builtin.include_role:
            name: cca.core.linux
          when:
            - config_update | default(false)

        - name: Flush handlers to run handler immediately
          ansible.builtin.meta: flush_handlers

        - name: Check pending changes
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from:
              check_pending_actions.yml

    - name: Include role in a block to enable become - main stop
      become: true
      become_method: ansible.builtin.sudo
      become_user: "{{ splunk_user }}"
      block:
        - name: Verify status and stop and disable splunk based on role
          ansible.builtin.include_role:
            name: cca.core.splunk
            tasks_from: update/main_stop.yml
          when:
            - kernel_update_needed | default(false) or
              stat_server_reboot_pending.stat.exists | default(false) or
              stat_splunk_service_restart_pending.stat.exists | default(false) or
              force_reboot | default(false)

  tasks:

    - name: Include role in a block to enable become - os update
      become: true
      become_method: ansible.builtin.sudo
      block:
        - name: Update OS Packages
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from:
              "update/{{ package_manager }}/os_update.yml"
          when:
            - os_update | default(true)

        - name: Reboot if needed
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from: server_reboot_handler.yml
          when:
            - kernel_update_needed | default(false) or
              stat_server_reboot_pending.stat.exists | default(false) or
              stat_splunk_service_restart_pending.stat.exists | default(false) or
              force_reboot | default(false)

        - name: Enable Splunkd service
          ansible.builtin.systemd:
            name: '{{ systemd_enterprise_name }}'
            enabled: true

    - name: Include role in a block to enable become - main start
      become: true
      become_method: ansible.builtin.sudo
      become_user: "{{ splunk_user }}"
      block:
        - name: Include role to start splunk
          ansible.builtin.include_role:
            name: cca.core.splunk
            tasks_from: update/main_start.yml

        - name: Include post tasks
          ansible.builtin.include_role:
            name: cca.core.control
            tasks_from: post_tasks.yml


#    _   _           _       _
#   | | | |_ __   __| | __ _| |_ ___
#   | | | | '_ \ / _` |/ _` | __/ _ \
#   | |_| | |_) | (_| | (_| | ||  __/
#    \___/| .__/ \__,_|\__,_|\__\___|
#         |_|

# The precheck task will create the dynamic shcluster_captain group.
# Finalize upgrading all shcluster captains.

- name: Finalize upgrading all shcluster captains, serial 1 is required
  hosts: splunk_servers:&shcluster_captain
  strategy: linear
  serial: 1
  pre_tasks:
    - name: Include tasks to wait for connection to host
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          wait_for_connection.yml

    - name: Gather setup for network
      ansible.builtin.setup:
        gather_subset: 'network'

    - name: Get host facts
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from:
          get_facts.yml

    - name: Validate and get version specific variables
      ansible.builtin.include_role:
        name: cca.core.linux
        tasks_from:
          validate_supported_os_versions.yml

    - name: Include role in a block to enable become
      become: true
      become_method: ansible.builtin.sudo
      block:
        - name: Set reboot flag
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from: set_reboot_flag.yml
          when:
            - force_reboot | default(false)

        - name: Check if an package update is needed
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from:
              "update/{{ package_manager }}/check_for_os_updates.yml"
          when:
            - os_update | default(true)

        - name: Execute linux configuration tasks
          ansible.builtin.include_role:
            name: cca.core.linux
          when:
            - config_update | default(false)

        - name: Flush handlers to run handler immediately
          ansible.builtin.meta: flush_handlers

        - name: Check pending changes
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from:
              check_pending_actions.yml

    - name: Include role in a block to enable become - main stop
      become: true
      become_method: ansible.builtin.sudo
      become_user: "{{ splunk_user }}"
      block:
        - name: Verify status and stop and disable splunk based on role
          ansible.builtin.include_role:
            name: cca.core.splunk
            tasks_from: update/main_stop.yml
          when:
            - kernel_update_needed | default(false) or
              stat_server_reboot_pending.stat.exists | default(false) or
              stat_splunk_service_restart_pending.stat.exists | default(false) or
              force_reboot | default(false)

  tasks:

    - name: Include role in a block to enable become - os update
      become: true
      become_method: ansible.builtin.sudo
      block:
        - name: Update OS Packages
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from:
              "update/{{ package_manager }}/os_update.yml"
          when:
            - os_update | default(true)

        - name: Reboot if needed
          ansible.builtin.include_role:
            name: cca.core.linux
            tasks_from: server_reboot_handler.yml
          when:
            - kernel_update_needed | default(false) or
              stat_server_reboot_pending.stat.exists | default(false) or
              stat_splunk_service_restart_pending.stat.exists | default(false) or
              force_reboot | default(false)

        - name: Enable Splunkd service
          ansible.builtin.systemd:
            name: '{{ systemd_enterprise_name }}'
            enabled: true

    - name: Include role in a block to enable become - main start
      become: true
      become_method: ansible.builtin.sudo
      become_user: "{{ splunk_user }}"
      block:
        - name: Include role to start splunk
          ansible.builtin.include_role:
            name: cca.core.splunk
            tasks_from: update/main_start.yml

        - name: Include post tasks
          ansible.builtin.include_role:
            name: cca.core.control
            tasks_from: post_tasks.yml



#    ____           _      ____ _               _
#   |  _ \ ___  ___| |_   / ___| |__   ___  ___| | _____
#   | |_) / _ \/ __| __| | |   | '_ \ / _ \/ __| |/ / __|
#   |  __/ (_) \__ \ |_  | |___| | | |  __/ (__|   <\__ \
#   |_|   \___/|___/\__|  \____|_| |_|\___|\___|_|\_\___/
#
# Perform status check on SearchHead clusters and Index clusters to
# validate that running status is ok after patching

- name: Perform status check on all servers after patching
  hosts: splunk_servers
  become: true
  become_method: ansible.builtin.sudo
  become_user: "{{ splunk_user }}"
  gather_facts: false
  any_errors_fatal: true
  pre_tasks:
    - name: Include tasks to wait for connection to host
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          wait_for_connection.yml

    - name: Gather setup facts for network
      ansible.builtin.setup:
        gather_subset: 'network'

    - name: Collect shcluster status
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          shcluster/get_shcluster_status.yml
      when:
        - inventory_hostname in ( groups.searchhead_members | default([]) )
        - not skip_splunk_status_check | default(false)

    - name: Collect cluster status
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          cluster/get_cluster_status.yml
      when:
        - inventory_hostname in ( groups.cluster_managers | default([]) )
        - not skip_splunk_status_check | default(false)

    - name: Collect splunk status
      ansible.builtin.include_role:
        name: cca.core.splunk
        tasks_from:
          get_splunk_status.yml
      when:
        - not inventory_hostname in ( groups.cluster_peers | default([]) ) or
          not inventory_hostname in ( groups.searchhead_members | default([]) )
        - not skip_splunk_status_check | default(false)

#    _____ _             _ _
#   |  ___(_)_ __   __ _| (_)_______
#   | |_  | | '_ \ / _` | | |_  / _ \
#   |  _| | | | | | (_| | | |/ /  __/
#   |_|   |_|_| |_|\__,_|_|_/___\___|
#
# Finalize playbook run on manager server
- name: Finalize playbook run on manager server
  hosts: manager
  connection: local
  strategy: linear
  pre_tasks:
    - name: Finalize tasks
      ansible.builtin.include_role:
        name: cca.core.control
        tasks_from:
          finalize.yml
      vars:
        target: "server_update"
